/*notification_page styling*/
/*Nav section*/

.chat-header{
  background: #020208;
  display: flex;
  justify-content: space-between;
  height: 5em;
  padding: 1em;
  border-bottom: 2px solid #251717;
}
.chat-header > .online-caption{
  color: #fff;
  padding: 5px;
  margin: 0 auto;
  display: none;
}
.chat-header > .online-caption p{
  display: inline-block;
  margin-left: 1em;
}
#online{
  background: green;
  padding: 5px;
  border-radius: 5px;
}
.logo2{
}
.logo2 img{
  height: 50px;
}
.chat-bars{
  color: #fff;
  font-size: 2em;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.chat-nav{
  display: block;
  background: #fff;
  width: 100%;
  position: fixed;
  /*transition: 5s ease-out;*/
  /*position: absolute;
  top: 6.2em;*/
}

.chat-nav ul li{
  position: relative;
  list-style: none;
  cursor: pointer;
  text-align: center;
  margin: 2em 0;
}
.chat-nav ul li a{
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-family: arial;
  margin: 0 5px;
}
.notification-box{
  background: #000;
  color: #fff;
  height: auto;
  padding-bottom: 5px;
  text-align: center;
}

.image-circle{
  width: 80px;
  height: 80px;
  background: green;
  border-radius: 50%;
  margin: 0 auto;
}
.caption-holder{

}
.notification-stat-main{
  background: #dedee0;
  width: 90%;
  /*position: absolute;*/
  top: 3em;
  padding: 0.5em;
}
.chat-nav, .mystyle ~ .notification-stat-main{
  margin-top: 5em;
  /*transition: 5s ease-out;*/
  /*transform: translateY(-419px);*/

}
.notification-stat{
  background: #fff;
  border-radius: 5px;
  line-height: 2em;
  border-bottom: 2px solid #c1c1c7;
}
.notification-stat a{
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  font-weight: bold;
}
.notification-stat-items{
  text-align: left;
}
.notification-stat-items, .notification-stat i{
  padding: 0 10px;
}
.notification-stat-items p{
  border-bottom: 2px solid #dedee0;
  padding: 1em;
}
.notification-stat-items span{
  display: block;
}
.mystyle{
  display: none;
 /* transition: .2s ease-out;
  transform: translateY(-419px);
  margin-top: -420px;*/
}
.chat-margin p{
  border-bottom: none;
  padding: 1em;
}
.row1, .row2{
  width: 100%;
  text-align: left;
  padding: 10px;
}
.rounded{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: green;
  margin-top: 1em;
  float: left;
}
.chat-box2{
  background: #dedee0;
  width: 80%;
  margin-left: 3em;
}
.chat-response{
  background: #dab665;
  margin-left: auto;
  margin-right: 37px;
  margin-top: -2em;
}
.rounded-response{
  background: red;
  float: right;
  margin-top: -1em;
}
.time-caps{
  display: inline-block;
  width: 100%;
  padding-top: 1em;
}
.time-caps-self{
  background: #fff;
  color: #000;
  position: absolute;
  width: 25%;
  text-align: center;
  margin: 0 25%;
  font-size: 12px;
}
.form-text-area{
  margin-top: 1em;
}
.form-text-area textarea{
  width: 85%;
  outline: none;
  line-height: 2em;
  border: none;
  margin: 0 auto;
  border-bottom: 2px solid #dedee0;
}
.form-message-btn{
  width: 100%;
  text-align: right;
  padding: 1em;
}
.form-message-btn button{
  width: 35%;
  margin: 0px 5%;
  background: #e68a01;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 2.5em;
}
.form-message-btn button:hover{
  background: #dab665;
}

/*Media Querries*/
@media (min-width: 360px){
  .notification-stat{
    width: 90%;
    border-radius: 5px;
    margin: 0 5%;
    text-align: center;
  }
  .notification-stat-items{
    margin-top: 12px;
  }
  /*.finish{
    margin-top: 5em;
  }*/
}

@media (min-width: 981px){
  .chat-header > .online-caption{
    display: block;
  }
  .chat-header{
    justify-content: unset;
  }
  .time-caps-self{
  width: 8%;
  margin: 0 30%;
}
  .logo2{
    width: 20%;
  }
  .chat-bars{
    margin: 0 2em;
  }
  main{
    display: flex;
  }
  .chat-nav{
    width: 20%;
    height: 100vh;
    display: none;
  }
  .mystyle{
    display: block;
  }

  .chat-nav ul li{
    text-align: left;
    margin: 2em 0px;
  }
  .notification-stat{
    width: 80%;
    border-radius: 0px;
    margin: 0 0% 0% 20%;
    text-align: left;
    line-height: 2em;
  }
  .notification-stat-items{
    width: calc(100% - 20%);
    margin: -13px 2% 0% 20%;
    min-height: 100vh;
  }
  .notification-stat-main{
    width: auto;
    padding: 0em;
    margin-top: 5em;
  }
  .chat-margin{
  margin: 3em 7% 0% 3%;
  }
  .form-message-btn button{
  width: 15%;
  margin: 0px 5%;
  line-height: 2.5em;
  }
  .form-text-area textarea{
  width: 65%;
  margin: 0 auto;
  }
}